@font-face {
  font-family: Raleway;
  src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face {
  font-family: raleway-italic;
  src: url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}
body {
  font-family: raleway;
  line-height: 1.5em;
  font-stretch: condensed;
}
body H1 {
  font-weight: 900;
  line-height: 30px;
}
body a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.header__logo {
  width: 120px;
}
.header__box {
  list-style-type: none;
  display: flex;
  padding: 0 0.5em;
  justify-content: space-around;
}
.header__box__nav {
  display: flex;
  justify-content: space-around;
}
.header__box__nav :hover {
  color: #0065FC;
}
.header a {
  display: inline-block;
  padding: 0 1em;
}

.footer {
  background-color: #F2F2F2;
}
.footer__bloc {
  width: 95%;
  margin: 50px auto;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 0.8rem;
}

.btn-inscription {
  color: #0065FC;
  font-weight: bold;
}

.rounded-frame-accomodation {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  width: 33%;
  box-sizing: border-box;
  margin: 0 1%;
  padding: 4.5px;
}
.rounded-frame-accomodation img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  margin: auto;
  object-fit: cover;
}
.rounded-frame-accomodation h3, .rounded-frame-accomodation p {
  padding-left: 1vh;
}
.rounded-frame-accomodation p {
  margin: 0 0;
}
.rounded-frame-accomodation h3 {
  margin: 5px 0 2px 0;
}

.rounded-frame-activity {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.search {
  margin: 40px 0;
}
.search__bloc {
  width: 300px;
  position: relative;
  display: flex;
  margin: 20px 0;
}
.search__bloc__icon {
  height: 40px;
  width: 80px;
  background-color: #F2F2F2;
  border-radius: 20px 0 0 20px;
}
.search__bloc__icon img {
  position: absolute;
  left: 11px;
  top: 7px;
}
.search__bloc__bar {
  width: 100%;
  left: 39px;
  border: solid #F2F2F2 1px;
  background-color: white;
  height: 40px;
  padding-left: 14px;
  font-weight: bold;
  outline: none;
}
.search__bloc__bar:focus {
  color: #0065FC;
}
.search__bloc__btn {
  left: 326px;
  background-color: #0065FC;
  height: 40px;
  width: 214px;
  border-radius: 0 20px 20px 0;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
}
.search__bloc__btn::before {
  background-color: #F2F2F2;
}
.search__filters {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.search__filters__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.search__filters__list li:nth-child(1) {
  margin: 0 20px;
  border: solid #F2F2F2 1px;
  border-radius: 20px;
  font-weight: 600;
  line-height: 40px;
  padding-right: 10px;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
}
.search__filters__list li:nth-child(1)::before {
  content: url(/images/icon/economy-stylised.png);
  margin-right: 10px;
  position: absolute;
  left: -2px;
  top: -2px;
}
.search__filters__list li:nth-child(1):hover {
  color: #0065FC;
  border-color: #DEEBFF;
}
.search__filters__list li:nth-child(2) {
  margin: 0 20px;
  border: solid #F2F2F2 1px;
  border-radius: 20px;
  font-weight: 600;
  line-height: 40px;
  padding-right: 10px;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
}
.search__filters__list li:nth-child(2)::before {
  content: url(/images/icon/family.png);
  margin-right: 10px;
  position: absolute;
  left: -2px;
  top: -2px;
}
.search__filters__list li:nth-child(2):hover {
  color: #0065FC;
  border-color: #DEEBFF;
}
.search__filters__list li:nth-child(3) {
  margin: 0 20px;
  border: solid #F2F2F2 1px;
  border-radius: 20px;
  font-weight: 600;
  line-height: 40px;
  padding-right: 10px;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
}
.search__filters__list li:nth-child(3)::before {
  content: url(/images/icon/romantic.png);
  margin-right: 10px;
  position: absolute;
  left: -2px;
  top: -2px;
}
.search__filters__list li:nth-child(3):hover {
  color: #0065FC;
  border-color: #DEEBFF;
}
.search__filters__list li:nth-child(4) {
  margin: 0 20px;
  border: solid #F2F2F2 1px;
  border-radius: 20px;
  font-weight: 600;
  line-height: 40px;
  padding-right: 10px;
  padding-left: 50px;
  cursor: pointer;
  position: relative;
}
.search__filters__list li:nth-child(4)::before {
  content: url(/images/icon/dog.png);
  margin-right: 10px;
  position: absolute;
  left: -2px;
  top: -2px;
}
.search__filters__list li:nth-child(4):hover {
  color: #0065FC;
  border-color: #DEEBFF;
}
.search > p {
  position: relative;
  left: 40px;
}
.search > p::before {
  content: url(/images/icon/information.png);
  margin-right: 10px;
  position: absolute;
  left: -40px;
  top: -3px;
}

.accomodation {
  display: flex;
  flex-direction: row;
}
.accomodation__results {
  background-color: #F2F2F2;
  border-radius: 20px;
  flex: 5;
  margin-right: 15px;
}
.accomodation__results__inside {
  width: 90%;
  margin: 50px auto;
}
.accomodation__results__inside > p {
  font-weight: bold;
}
.accomodation__popular {
  background-color: #F2F2F2;
  border-radius: 20px;
  flex: 2;
  margin-left: 15px;
}
.accomodation__popular__inside {
  width: 90%;
  margin: 50px auto;
}

.bloc-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
}
.bloc-top__pic1__link {
  display: flex;
  flex-direction: column;
}
.bloc-top__pic1__link__image {
  background-image: url(/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
  height: 180px;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
}
.bloc-top__pic1__link__description p::after {
  content: url(/images/icon/star.png);
  margin: 5px 0;
  display: block;
}
.bloc-top__pic2__link {
  display: flex;
  flex-direction: column;
}
.bloc-top__pic2__link__image {
  background-image: url(/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
  height: 180px;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.bloc-top__pic2__link__description p::after {
  content: url(/images/icon/star.png);
  margin: 5px 0;
  display: block;
}
.bloc-top__pic3__link__image {
  background-image: url(/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
  height: 180px;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.bloc-top__pic3__link__description p::after {
  content: url(/images/icon/star.png);
  margin: 5px 0;
  display: block;
}

.bloc-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
}
.bloc-bottom__pic1__link__image {
  background-image: url(/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
  height: 180px;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.bloc-bottom__pic1__link__description p::after {
  content: url(/images/icon/star.png);
  margin: 5px 0;
  display: block;
}
.bloc-bottom__pic2__link__image {
  background-image: url(/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
  height: 180px;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.bloc-bottom__pic2__link__description p::after {
  content: url(/images/icon/star.png);
  margin: 5px 0;
  display: block;
}
.bloc-bottom__pic3__link__image {
  background-image: url(/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
  height: 180px;
  width: 100%;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.bloc-bottom__pic3__link__description p::after {
  content: url(/images/icon/star.png);
  margin: 5px 0;
  display: block;
}

.accomodation__popular__inside H1 {
  position: relative;
}
.accomodation__popular__inside H1::after {
  content: url(/images/icon/bar-chart.png);
  position: absolute;
  right: 3px;
  top: -8px;
}
.accomodation__popular__inside__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popular-bloc {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  margin: 0 0 20px 0;
  height: 180px;
}
.popular-bloc__image1 {
  margin: 4px 0 4px 4px;
  background-image: url(/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  height: 96%;
  width: 124px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.popular-bloc__image2 {
  margin: 4px 0 4px 4px;
  background-image: url(/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  height: 96%;
  width: 124px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.popular-bloc__image3 {
  margin: 4px 0 4px 4px;
  background-image: url(/images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  height: 96%;
  width: 124px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}
.popular-bloc__text {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.popular-bloc__text h3 {
  margin: 5px 0 2px 0;
}
.popular-bloc__text p {
  margin: 0 0;
}
.popular-bloc__text p::after {
  content: url(/images/icon/star.png);
  margin: 10px 0;
  display: block;
}

.activity__list {
  display: flex;
  justify-content: space-around;
}
.activity__list__1pic-bloc {
  width: 20%;
}
.activity__list__1pic-bloc__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.activity__list__1pic-bloc__link__image1 {
  height: 349px;
  background-image: url(/images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.activity__list__1pic-bloc__link__image2 {
  height: 349px;
  background-image: url(/images/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.activity__list__1pic-bloc__link__description {
  padding-left: 20px;
}
.activity__list__2pic-bloc {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.activity__list__2pic-bloc__top {
  margin-bottom: 20px;
}
.activity__list__2pic-bloc__top__link__image1 {
  height: 145px;
  background-image: url(/images/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.activity__list__2pic-bloc__top__link__image2 {
  height: 110px;
  background-image: url(/images/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
}
.activity__list__2pic-bloc__top__link__description {
  padding-left: 20px;
}
.activity__list__2pic-bloc__bottom {
  margin-top: 20px;
}
.activity__list__2pic-bloc__bottom__link__image1 {
  background-image: url(/images/activites/1_xlarge/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 110px;
}
.activity__list__2pic-bloc__bottom__link__image2 {
  background-image: url(/images/activites/1_xlarge/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 145px;
}
.activity__list__2pic-bloc__bottom__link__description {
  padding-left: 20px;
}

.bloc {
  margin: auto;
  width: 95%;
}
.bloc__page {
  width: 95%;
  margin: auto;
}
.bloc h2 {
  font-size: 0.9rem;
}
.bloc h3 {
  font-size: 0.95rem;
}
.bloc p, .bloc li {
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: initial;
  }
  .header__logo {
    position: absolute;
  }
  .header__box {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .header__box > a {
    text-align: right;
  }
  .header__box__nav {
    margin-top: 40px;
    justify-content: center;
  }
  .header__box__nav__accomodation {
    border-bottom: solid 3px #F2F2F2;
  }
  .header__box__nav__accomodation:hover {
    border-color: #0065FC;
  }
  .header__box__nav__activity {
    border-bottom: solid 3px #F2F2F2;
  }
  .header__box__nav__activity:hover {
    border-color: #0065FC;
  }

  .search__filters {
    flex-direction: column;
  }
  .search__filters__list {
    flex-wrap: wrap;
  }
  .search__filters__list li:nth-child(1) {
    margin: 10px 20px 10px 0;
  }
  .search__filters__list li:nth-child(2) {
    margin: 10px 20px 10px 0;
  }
  .search__filters__list li:nth-child(3) {
    margin: 10px 20px 10px 0;
  }
  .search__filters__list li:nth-child(4) {
    margin: 10px 20px 10px 0;
  }

  .accomodation {
    flex-direction: column-reverse;
  }
  .accomodation__popular {
    margin-left: 0;
  }
  .accomodation__results {
    margin-right: 0;
    background-color: white;
  }

  .bloc-top {
    flex-direction: column;
    margin-bottom: 0;
  }
  .bloc-top__pic1 {
    margin: 10px 0;
  }
  .bloc-top__pic2 {
    margin: 10px 0;
  }
  .bloc-top__pic3 {
    margin: 10px 0;
  }

  .bloc-bottom {
    flex-direction: column;
    margin-top: 0;
  }
  .bloc-bottom__pic1 {
    margin: 10px 0;
  }
  .bloc-bottom__pic2 {
    margin: 10px 0;
  }
  .bloc-bottom__pic3 {
    margin: 10px 0;
  }

  .rounded-frame-accomodation {
    width: 100%;
  }

  .accomodation__popular {
    border-radius: initial;
  }

  .activity__list {
    flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .activity__list__1pic-bloc {
    width: 100%;
    margin-bottom: 20px;
  }
  .activity__list__1pic-bloc__link__image1 {
    height: 180px;
  }
  .activity__list__1pic-bloc__link__image2 {
    height: 180px;
  }
  .activity__list__2pic-bloc {
    width: 100%;
  }
  .activity__list__2pic-bloc__top {
    margin-bottom: 10px;
  }
  .activity__list__2pic-bloc__top__link__image1 {
    height: 180px;
  }
  .activity__list__2pic-bloc__top__link__image2 {
    height: 180px;
  }
  .activity__list__2pic-bloc__bottom {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .activity__list__2pic-bloc__bottom__link__image1 {
    height: 180px;
  }
  .activity__list__2pic-bloc__bottom__link__image2 {
    height: 180px;
  }
}

/*# sourceMappingURL=style.css.map */
