// Search Feature

.search{
    margin: 40px 0;

    &__bloc {
        width: 33%;
        position: relative;
        display: flex;

        &__icon {
            height: 40px;
            width: 65px;
            background-color: $third-color;
            border-radius: $radius 0 0 $radius;

            & img{
                position: absolute;
                left: 11px;
                top: 7px;
            }
        }

        &__bar {
            width: 100%;
            left: 39px;
            border: solid $third-color 1px;
            background-color: white;
            height: 40px;
            padding-left: 14px;
            font-weight: bold;
            outline: none;
    
            &:focus {
                color: $primary-color;
            }
        }
    
        &__btn {
            left: 326px;
            background-color: $primary-color;
            height: 40px;
            width: 214px;
            border-radius: 0 $radius $radius 0;
            color: white;
            border: none;
            font-weight: 500;
            font-size: 17px;
            cursor: pointer;
    
            &::before {
                background-color: $third-color;                
            }    
        }        
    }

    &__filters {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        &__list{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            & li:nth-child(1) {
                @include filter;
                position: relative;
                
                &::before {
                    content:url(/images/icon/economy-stylised.png);
                    margin-right: 10px;
                    position: absolute;
                    left: -2px;
                    top: -2px;
                }
                
                &:hover{
                    color: $primary-color;
                    border-color: $secondary-color;
                }
            }

            & li:nth-child(2) {
                @include filter;
                position: relative;

                &::before {
                    content:url(/images/icon/family.png);
                    margin-right: 10px;
                    position: absolute;
                    left: -2px;
                    top: -2px;
                }

            }

            & li:nth-child(3) {
                @include filter;
            }

            & li:nth-child(4) {
                @include filter;
            }
        }
    }

    & > p {
        // vertical-align: top;

        &::before {
            content: url(/images/icon/information.png);
            margin-right: 10px;
        }
    }
}

// accommodation section

.accomodation {
    display: flex;
    flex-direction: row;
    
    &__results {
        background-color: $third-color;
        border-radius: $radius;
        flex: 5;
        margin-right: 15px;

        &__inside {
            width: 90%;
            margin: $margin-inside;

            &__list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                & img {
                    width: 200px;
                }
            }

           & > p {
                font-weight: bold;
           } 
        }
    }

    &__popular {
        background-color: $third-color;
        border-radius: $radius;
        flex: 2;
        margin-left: 15px;

        &__inside {
            width: 90%;
            margin: $margin-inside;
        }
    }
}

// activities section

.activity{

    &__list {
        display: flex;
    }
}