
// Search Feature

.search{
    margin: 40px 0;

    &__bloc {
        width: 33%;
        position: relative;
        display: flex;
        margin: 20px 0;

        &__icon {
            height: 40px;
            width: 65px;
            background-color: $third-color;
            border-radius: $radius 0 0 $radius;

            & img{
                position: absolute;
                left: 11px;
                top: 7px;
            }
        }

        &__bar {
            width: 100%;
            left: 39px;
            border: solid $third-color 1px;
            background-color: white;
            height: 40px;
            padding-left: 14px;
            font-weight: bold;
            outline: none;
    
            &:focus {
                color: $primary-color;
            }
        }
    
        &__btn {
            left: 326px;
            background-color: $primary-color;
            height: 40px;
            width: 214px;
            border-radius: 0 $radius $radius 0;
            color: white;
            border: none;
            font-weight: 500;
            font-size: 17px;
            cursor: pointer;
    
            &::before {
                background-color: $third-color;                
            }    
        }        
    }

    &__filters {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        &__list{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            & li:nth-child(1) {
                @include filter;
                
                &::before {
                    content:url(/images/icon/economy-stylised.png);
                    @include filter-before;
                }
                
                &:hover{
                    @include filter-hover;
                }
            }

            & li:nth-child(2) {
                @include filter;

                &::before {
                    content:url(/images/icon/family.png);
                    @include filter-before;
                }

                &:hover {
                    @include filter-hover
                }
            }

            & li:nth-child(3) {
                @include filter;

                &::before {
                    content: url(/images/icon/romantic.png);
                    @include filter-before;
                }

                &:hover {
                    @include filter-hover;
                }

            }

            & li:nth-child(4) {
                @include filter;

                &::before {
                    content: url(/images/icon/dog.png);
                    @include filter-before;
                }

                &:hover {
                    @include filter-hover;
                }

            }
        }
    }

    & > p {
        position: relative;
        left: 40px;

        &::before {
            content: url(/images/icon/information.png);
            margin-right: 10px;
            position: absolute;
            left: -40px;
            top: -3px;

        }
    }
}




// accommodation section

.accomodation {
    display: flex;
    flex-direction: row;
    
    &__results {
        background-color: $third-color;
        border-radius: $radius;
        flex: 5;
        margin-right: 15px;

        &__inside {
            width: 90%;
            margin: $margin-inside;

           & > p {
                font-weight: bold;
           } 
        }
    }

    &__popular {
        background-color: $third-color;
        border-radius: $radius;
        flex: 2;
        margin-left: 15px;

        &__inside {
            width: 90%;
            margin: $margin-inside;
        }
    }
}






// --> Folloc-up accomodation__results

.bloc-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;

    &__pic1 {

        &__description {

            & p::after {
                content: url(/images/icon/star.png);
                margin: 5px 0;
                display: block;
            }
        }
    }

    &__pic2 {

        &__description {

            & p::after {
                content: url(/images/icon/star.png);
                margin: 5px 0;
                display: block;
            }
        }
    }

    &__pic3 {

        &__description {

            & p::after {
                content: url(/images/icon/star.png);
                margin: 5px 0;
                display: block;
            }
        }
    }
}

.bloc-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px auto;

    &__pic1 {

        &__description {

            & p::after {
                content: url(/images/icon/star.png);
                margin: 5px 0;
                display: block;
            }
        }
    }

    &__pic2 {

        &__description {

            & p::after {
                content: url(/images/icon/star.png);
                margin: 5px 0;
                display: block;
            }
        }
    }

    &__pic3 {

        &__description {

            & p::after {
                content: url(/images/icon/star.png);
                margin: 5px 0;
                display: block;
            }
        }
    }
}






// accomodation-popular

.accomodation__popular__inside__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popular-bloc {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: $radius;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);
    margin: 0 0 20px 0;
    height: 12vh;

    &__image {
        flex: 2;


        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: $radius 0 0 $radius;
        }
    }

    &__text {
        flex: 4;
        padding-left: 20px;
        padding-right: 20px;

        h3 {

            margin: 5px 0 2px 0;

        }

        & p {

            margin: 0 0;

            &::after {
                content: url(/images/icon/star.png);
                margin: 10px 0;
                display: block;
            }   
        }


        
    }
}








// activities section

.activity{

    &__list {
        display: flex;
        justify-content: space-around;

        // 1 picture full

        &__1pic-bloc{
            width: 20%;

            & a {
                display: flex; 
                flex-direction: column;
                height: 100%;

                & div:nth-child(1) {
                    flex: 95%;
                    
                    & img {
                        border-radius: $radius $radius 0 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;                       
                        }
                }

                & div:nth-child(2) {
                    flex: 5%;
                    padding-left: 20px;
                }
            }
        }

        // 2 pictures small

        &__2pic-bloc {
            width: 20%;
            display: flex;
            flex-direction: column;

            &__top {
                margin-bottom: 20px;
                // flex: 40%;

                & div:nth-child(1) {
                    flex: 95%;

                    & img {
                    border-radius: $radius $radius 0 0;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;                       
                    }
                }

                & div:nth-child(2) {
                    flex: 5%;
                    padding-left: 20px;
                }
            }

            &__bottom {
                margin-top: 20px;
                // flex: 60%;

                & div:nth-child(1) {
                    flex: 95%;

                    & img {
                        border-radius: $radius $radius 0 0;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;                       
                        }
                }

                & div:nth-child(2) {
                    flex: 5%;
                    padding-left: 20px;

                }
            }
        }
    }
}