// variables

$primary-color : #0065FC;
$secondary-color: #DEEBFF;
$third-color: #F2F2F2;
$radius: 20px;
$margin-inside: 50px auto;
$font: 0.9rem;

// mixins

@mixin filter {
    margin: 0 $radius;
    border: solid $third-color 1px;
    border-radius: $radius;
    font-weight: 600;
    line-height: 40px;
    padding-right: 10px;
    padding-left: 50px;
    cursor: pointer;
    position: relative;
}

@mixin filter-before {
    margin-right: 10px;
    position: absolute;
    left: -2px;
    top: -2px;
}

@mixin filter-hover {
    color: $primary-color;
    border-color: $secondary-color;
}