.bloc {
    margin: auto;
    width: 95%;

    &__page{
        width: 95%;
        margin: auto;
    }

    // & img {
    //     border-radius: $radius;
    // }

    & h2 {
        font-size: $font;
    }
    
    & p,li {
        font-size: $font;
    }



}