.bloc {
    margin: auto;
    width: 95%;

    &__page{
        width: 95%;
        margin: auto;
    }

    & h2 {
        font-size: $font;
    }

    & h3 {
        font-size: 0.95rem;
    }
    
    & p,li {
        font-size: $font;
    }
}

@media screen and (max-width: 480px) {



}