@font-face {
    font-family: Raleway;
    src: url("/fonts/Raleway/Raleway-VariableFont_wght.ttf");
}
@font-face{
    font-family: raleway-italic;
    src: url("/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf");
}

body {
    font-family: raleway;
    line-height: 1.5em;
    font-stretch: condensed;
    & H1 {
        font-weight: 900;
        line-height: 30px;
    }
    & a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    }

    & ul {
        list-style-type: none;
        margin: 0 0;
    }
}